body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #708ea4;
    padding: 15px;
}

header nav {
    margin-top: 10px;
}

.tabla {
    margin: 0 auto 20px auto;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
}

.tabla th, .tabla td {
    border: 1px solid black;
    padding: 8px;
    
}

.tabla th {
    font-weight: bold;
}

.lineas-codigo {
    padding: 0;
    margin: 20px 70px;
    text-align: left;
}

.grupo-linea {
    display: inline-block;
    margin: 0 15px 10px 0;
    text-align: center;
    vertical-align: -120%;
}

.linea-input {
    border: none;
    border-bottom: 1px solid black;
    width: 50px;
    text-align: center;
    font-size: 18px;
    outline: none;
    padding: 5px 0;
}

li {
    margin-bottom: 15px;
}

.etiqueta {
    display: block;
    margin-top: 5%;
    font-size: 18px;
    font-weight: normal;
    color: black;
}

.container {
    height: 100%;
    display: table;
    width: 100%;
}

.info-box {
    width: 600px;
    height: 400px;
    border: 1px solid black;
    margin: auto;
    padding: 0;
    position: relative;
}

.info-table {
    font-size: 18px;
    width: 100%;
    border-collapse: collapse;
    position: absolute;
    bottom: 20px;
    left: 0;
}