/* COLORES 

Primary color:

Color 1 : #708EA4;

color 2: #486E88;

Color 3: #29516D;

Color 4: #123752;

Color 5: #032137;

Secondary color:

Color 1: #7F81B2;

Color 2: #555794;

Color 3: #333577;

Color 4: #1A1B59;

Color 5: #090A3B;

*/

* {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: #708ea4;
  padding: 2%;
}

header nav a {
  margin-right: 6px;
}

main {
  display: flex;
  height: 100vh;
}

#index {
  border-right: 1px solid black;
  width: 15vw;
  display: grid;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

#games {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#games-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#score {
  border-left: 1px solid black;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  border-top: 1px solid black;
  padding: 1%;
  text-align: center;
}

a {
  text-decoration: none;
  color: #090a3b;
}

a:hover {
  color: #333577;
}

.title {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #486e88;
  width: 100%;
  text-align: center;
}
