#imagenCumpleaños{
    width: 500px;
    align-items: center;
}

#contenedorJuegosJavi15{
    display: grid;
    grid-template-rows: 5% 4% 58%;
    gap: 32px;
}


#fila1, #fila2{
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

#fila3{
    border: 1px solid black;
    display: flex;

}


#contenedorJuegosJavi h2 {
    display: flex;
    justify-content: left;
}


.listaJuegoDieciseis{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#contenedorJuegosJavi16 div  {
    display: flex;
    justify-content: center;
}