#imagenCumpleaños{
    width: 800px;
    align-items: center;
}

#contenedorJuegosJavi15{
    display: grid;
    grid-template-rows: 5% 4% 58%;
    gap: 32px;
    width: 100%;
    height: 100%;
}


.filas{
    border: 1px solid black;
    display: flex;
    justify-content: center;
}


#contenedorJuegosJavi h2 {
    display: flex;
    justify-content: left;
}


.filas ul li{
    margin: 20px;
}

#gridColumnasJuego{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 20px;
    max-height: 400px;
}

#contenedorContenedoresJuego18{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#contenedorContenedoresJuego19{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
}

#contenedorContenedoresJuego19 div {
    padding: 10px;
    border: 1px solid black;
}

#contenedorContenedoresJuego20{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
}

#sopaLetras{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 500px;
    justify-items: center;
    gap: 20px;
    padding: 10px;
}

#juegosJavi{
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(8, 1fr);
}

#juego22{
    display: flex;
    flex-direction: row;
    gap: 80px;
}

#juego22 > div:first-child{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#imagenFamilia{
    width: 700px;
}

textarea{
    width: 850px;
}