#imagenCumpleaños{
    width: 500px;
    align-items: center;
}

#contenedorJuegosJavi15{
    display: grid;
    grid-template-rows: 5% 4% 58%;
    gap: 32px;
}


.filas{
    border: 1px solid black;
    display: flex;
    justify-content: center;
}


#contenedorJuegosJavi h2 {
    display: flex;
    justify-content: left;
}


#contenedorJuegosJavi16 div  {
    display: flex;
    grid-template-rows: 1fr;
    justify-content: center;
}

